:root {
  /* Colors */
  --color-primary: #f6c400;
  --color-primary-dark: #e1b200;

  --color-bg: #efefef;
  --color-card: #ffffff;

  --color-black: #0c0c0c;
  --color-dark: #171717;
  --color-dark-light: #242424;

  --color-text: #1d1d1d;
  --color-text-light: #666666;
  --color-text-muted: #9a9a9a;

  --color-border: #e6e6e6;

  --color-success: #66c36a;

  /* Typography */
  --font-title: "Arial Black", sans-serif;
  --font-body: "Inter", sans-serif;

  --fs-xs: 11px;
  --fs-sm: 13px;
  --fs-md: 15px;
  --fs-lg: 20px;
  --fs-xl: 34px;
  --fs-xxl: 68px;

  /* Radius */
  --radius-sm: 8px;
  --radius-md: 14px;
  --radius-lg: 20px;

  /* Shadow */
  --shadow-card: 0 4px 12px rgba(0,0,0,.05);

  /* Layout */
  --container: 1280px;
  --header-height: 360px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 40px;
}